*{
    margin: 0;
   padding: 0;
   font-family: sans-serif;
   box-sizing: border-box;
}

.container{
   width: 100%;
   height: 100vh;
   background: #e3f9ff;
   display: flex;
   align-items: center;
   justify-content: center;
   background:url(../images/math2.jpeg);
   background-size: cover;
}
.calculator{
   background-color: #3a4452;
   padding: 20px;
   border-radius: 10px;
}
.calculator form input{
   border: 10;
   outline: 10px;
   width: 60px;
   height: 60px;
   border-radius: 5px;
   /* box-shadow: -8px -8px; */
   background: transparent;
   font-size: 10px;
   color: #fff;
   cursor: pointer;
   margin: 0px;

}
form .display{
   display: flex;
   justify-content: flex-end;
   margin: 20px 0;
}
form .display input {
text-align: right;
flex: 1;
font-size: 45px;
box-shadow: none;
background-color: white;
color: black;
}
form input.cc{
   width: 124px;
   background-color:#0fce08;
   font-size: 17px;
}
form input.eq{
   background-color: rgba(5, 150, 240, 0.749);
   font-size: 17px;
}
form input.del{
   background-color: rgba(228, 21, 21, 0.749);
   font-size: 17px;
}
form input.div {
  font-size: 15px;
}
form input.mul {
  font-size: 15px;
}
form input.min {
  font-size: 15px;
}
form input.plus {
  font-size: 15px;
}

